<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.database.MemberMapper">
   
    <insert id="insertMember" parameterType="com.domain.Member">
   		insert into member(mem_id,mem_pw,mem_email,mem_no) values(#{id},#{pw},#{email},sequence_mem.nextval)
    </insert>
	<select id="selectMember" parameterType="com.domain.Member"
	resultType="com.domain.Member">
			select mem_id from member where mem_id=#{id} and mem_pw=#{pw}
			
	</select>
	
	<update id="updateMember" parameterType="com.domain.Member">
		update member set mem_pw=#{pw}, mem_name=#{name}, mem_tel=#{tel}, mem_email=#{email} where mem_id=#{id}
	</update>
	<select id="selectAll" resultType="com.domain.Member">
		select * from member
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where email=#{email}
	</delete>
</mapper>