<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.database.MemberMapper">
   
    <insert id="insertMember" parameterType="com.domain.Member">
   		insert into member(mem_id,mem_pw,mem_email,mem_no) values(#{mem_id},#{mem_pw},#{mem_email},sequence_mem.nextval)
    </insert>
	<select id="selectMember" parameterType="com.domain.Member"
	resultType="com.domain.Member">
			select mem_id from member where mem_id=#{mem_id} and mem_pw=#{mem_pw}
			
	</select>
	
	<update id="updateMember" parameterType="com.domain.Member">
		update member set mem_pw=#{mem_pw}, mem_name=#{mem_name}, mem_tel=#{mem_tel}, mem_email=#{mem_email} where mem_id=#{mem_id}
	</update>
	<select id="selectAll" resultType="com.domain.Member">
		select * from member
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where mem_id=#{mem_id}
	</delete>
	
	<select id="getDate" resultType="String">
		select sysdate from dual
	</select>
	
	
	<insert id="insertBoard" parameterType="com.domain.Board">
		insert into board(bd_num,mem_no,bd_title,bd_contents,bd_date) values(sequence_board.nextval,#{mem_no},#{bd_title},#{bd_contents},#{bd_date})
	</insert>
	
	<select id="getList" resultType="com.domain.Board">
		select * from board
	</select>
	
	<select id="getmemNo" parameterType="String" resultType="String">
		select mem_no from member where mem_id=#{mem_id}
	</select>
</mapper>